name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"

jobs:
  env:
    runs-on: [ubuntu-latest]
    outputs:
      version: ${{ steps.env.outputs.version }}
    steps:
      - name: Set build version
        id: env
        run: echo "version=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

  ci:
    needs: env
    uses: ./.github/workflows/reusable-ci.yml
    secrets: inherit
    with:
      version: ${{ needs.env.outputs.version }}
      coverage: ${{ github.ref == 'refs/heads/main' }}
